<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-icon name="person-circle" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ message.first_name }} {{ message.last_name}}
        <span class="date">
          <ion-note>Job Id : {{ message.job_id }}</ion-note>
         
        </span>
      </h2>
      
    </ion-label>
  </ion-item>
  <div class="ion-padding">
    <ion-note>Job Title Applied : {{ message.job_title }}</ion-note>
  </div>
  <div class="ion-padding">
    <h1>Current Status - {{ message.stage }}</h1>
    <p>
      The above mentioned is the latest status of the Candidate
    </p>
  </div>
  <div class="ion-padding">
    <h1>To Change Status</h1>
    <p>Select from the below options</p>
  </div>
  <ion-list>
    <ion-item>
      <ion-select
        [compareWith]="compareWith"
        placeholder="Select status of applicant"
        (ionChange)="handleChange($event, message.id)"
        [multiple]="false"
      >
        <ion-select-option *ngFor="let status of statuses" [value]="status">{{ status.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Current value: {{ currentStatus | json }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

